*.log
*.tmp

# Mac Cancer
*/.DS_Store

# Python Cancer
*.py[cod]
**/.pytest_cache
**/__pycache__

# npm/javascript Cancer
**/node_modules
package-lock.json
yarn.lock

# rails bits
/server/rails_api/.bundle
/server/rails_api/db/*.sqlite3
/server/rails_api/db/*.sqlite3-*
/server/rails_api/log/*
/server/rails_api/tmp/*
/server/rails_api/tmp/pids/*
/server/rails_api/storage/*
/server/rails_api/config/master.key
